################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/carro-na-mao-api/.vs/carro-na-mao-api
/.vs
/carro-na-mao-api/carro-na-mao-api/obj/Release/net6.0
