################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/carronamao-api-login
/carronamao-api/.vs/carronamao-api/FileContentIndex/2a681694-2660-418e-adc1-32c84f19d7bd.vsidx
/carronamao-api/.vs/carronamao-api/FileContentIndex
