################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/carro-na-mao-api/.vs/carro-na-mao-api
/.vs
/carro-na-mao-api/carro-na-mao-api/obj/Release/net6.0
/carro-na-mao-api/.vs/ProjectEvaluation
/carro-na-mao-api/.vs/carro-na-mao-api/v17/.suo
/carro-na-mao-api/carro-na-mao-api/bin/Debug/net6.0
/carro-na-mao-api/carro-na-mao-api/obj
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.dgspec.json
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.g.props
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.dgspec.json
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.g.props
carro-na-mao-api/carro-na-mao-api/obj/Debug/net6.0/carro-na-mao-api.assets.cache
carro-na-mao-api/carro-na-mao-api/obj/Debug/net6.0/carro-na-mao-api.csproj.AssemblyReference.cache
carro-na-mao-api/carro-na-mao-api/obj/Debug/net6.0/carro-na-mao-api.GeneratedMSBuildEditorConfig.editorconfig
carro-na-mao-api/carro-na-mao-api/obj/project.assets.json
carro-na-mao-api/carro-na-mao-api/obj/project.nuget.cache
*.json
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.dgspec.json
carro-na-mao-api/carro-na-mao-api/obj/carro-na-mao-api.csproj.nuget.dgspec.json
carro-na-mao-api/carro-na-mao-api/obj/project.nuget.cache
carro-na-mao-api/carro-na-mao-api/obj/project.nuget.cache
carro-na-mao-api/carro-na-mao-api/obj/project.nuget.cache
