#fundoAvaliacao1 {

    
    background: #35383d;
    height:100em;

}
#fundoAvaliacao2 {

    
    background: #35383d;

}

/* Estilização do contêiner da tela de avaliações */
.container-1 {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    height: 25px;
    padding: 20px;
    background: #35383d;
    border-radius: 5px;
}

#tituloPagAvaliacao {
    position: relative;
    bottom: 13px;
    top: -4em;
    left: 5em;
    width: 26em;

}

#conteudoPagina {
    position: relative;
    top: 113px;
}

.container-2 {
    text-align: justify;
    max-width: 900px;
    width: 55em;
    padding: 1em;
    left: 24em;
    top: 15em;
    margin: 0 auto;
    background: #35383d;
}

h3{
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    color: white;
    
}

label {
    color: white;

}

#nome {
    width: 89%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(185 185 185);

}

#nota {
    width: 26%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(185 185 185);

}

#email {
    width: 26%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(185 185 185);

}

#fone {
    width: 26%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(185 185 185);

}


/* Estilização do campos observações */
textarea {
    width: 93%;
    padding: 30px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgb(185 185 185);

}

/* Estilização do botão de salvar */
#btnCadastrar {
    position: relative;
    left: 57%;
    top: 0px;
    width: 25%;
    padding: 9px;
    color: white;
    border-radius: 2em;
    background-color: black;
    border: 1px solid #ff0000;


}

#btnCadastrar:hover {
    background-color: #ff0000;
    color: white;
    transition: all 0.6s;
}

#btnVoltar {
    position: relative;
    left: -13%;
    top: 0px;
    width: 25%;
    padding: 9px;
    color: white;
    border-radius: 2em;
    background-color: black;
    border: 1px solid #ff0000;

}

#btnVoltar:hover {
    background-color: #ff0000;
    color: white;
    transition: all 0.6s;
}


a {
    text-decoration: none;
    color: #fff;
    transition: all 0.6s;

}

a:hover {
    text-decoration: none;
    color: #fff;
    transition: all 0.6s;





}


/*Parte da visualizacaoAvaliacao*/


#cardAvaliacoes {
    position: relative;
    width: 22em;
    border-radius: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    padding: 10px;
    background: rgb(185 185 185);
    

}

#adicionarNovaAvaliacao {
    position: fixed;
    top: 7em;
    left: 99em;
    width: 20%;
    padding: 15px;
    border: 1px solid #ff0000;
    border-radius: 49px;
    background-color: black;

}

#adicionarNovaAvaliacao:hover {
 background-color: #ff0000;
 color: white;
 transition: all 0.6s;
}


#registroNota {
    text-align: right;
    color: black;


    
}
#listaAvaliacao {
    display: inline-grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 10px;
    position: relative;
    top: 5em;
    left: 10em;
}