#cmp {
    position: relative;
    top: 35px;
    left: 1%;
    text-align: justify;
    max-width: 80vw;
    height: 85vh;
    margin: 0 auto;
    padding: 22px;
    background-image: linear-gradient(45deg, rgb(75, 74, 74), rgb(240, 237, 237));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgb(231, 231, 231), 1em 1em 1.4em rgb(190, 187, 187);
}

#tituloCadastro {
    position: relative;
    top: 3em;
    left: 30em;

}

#tituloDadosPessoais {
    top: 5em;
    position: relative;
}

#tituloDadosLogin {
    bottom: -6em;
    position: relative;
}

#linha1 {
    position: relative;
    top: 3em;
    width: 83em;

}

#linha2 {
    position: relative;
    top: 8em;
    width: 83em;


}

#nomeCadastro {
    left: 1em;
    top: 4em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#dataNasc {
    left: 9em;
    top: 4em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#cpf {
    left: 71em;
    top: -0.3em;
    width: 25em;
    position: relative;
    padding: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#telefone {
    left: -26em;
    top: 6em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}


#categoria {
    position: relative;
    top: 1.8em;
    left: 36em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#rua {
    left: 44em;
    top: 1.8em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#numero {
    position: relative;
    left: 1em;
    top: 4em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#bairro {
    position: relative;
    left: 9em;
    top: 4em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#endereco {
    left: 71em;
    top: 0em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#municipio {
    position: relative;
    left: -26.3em;
    top: 6em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

#camposParaLoginParteUm {
    position: relative;
    left: 1em;
    top: -63px;
    width: 50vw;
    bottom: 4em;

}


#camposParaLoginParteUmVistoria {
    position: flex;
    padding: 40px;
    left: -3em;
    display: flex;
    width: 1000px;

}

#camposParaLoginParteDois {
    position: relative;
    left: -2em;
    display: flex;


}

#camposParaLoginParteTres {
    position: relative;
    padding: 40px;
    left: -2em;
    display: flex;
    height: 100px;

}

#tituloDadosPessoais2 {
    bottom: 5em;
    position: relative;
    left: 50em;

}

#emailCadastro {

    position: relative;
    top: 7em;
    left: 1em;
    width: 25em;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#senhaCadastro {

    left: 9em;
    width: 25em;
    top: 7em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
}

#senhaCadastroConfirma {
    left: 71em;
    width: 25em;
    top: 2.6em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;

}

#linhaDadosPessoais {
    position: relative;
    top: -4em;
}

#btnCadastrarUsuario {
    position: relative;
    top: 11em;
    width: 25em;
    border-radius: 7px;

    color: white;
    padding: 17px;
    right: -10em;
    background-color: black;
}

#btnCadastrarUsuario:hover {
    color: white;
    background-color: rgb(169, 25, 25);
}