#fundoCadastro {

    width: 100vw;
    height: 100vh;
    background: #35383d;

}

#cmp {
    position: relative;
    top: -5px;
    left: 0%;
    text-align: justify;
    max-width: 80vw;
    height: 93vh;
    margin: 0 auto;
    padding: 5px;
    background: #35383d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#titulo1 {
    position: relative;
    top: 47px;
    left: 10em;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;


}

#titulo2 {
    top: 3em;
    position: relative;
    font-size: 115%;
    color: white;

}

#titulo3 {
    top: 0.2em;
    position: relative;
    font-size: 115%;
    color: white;


}

#linha1 {
    position: relative;
    top: 2em;
    width: 65em;

}

#linha2 {
    position: relative;
    top: 4em;
    width: 65em;

}

#nomeCadastro {
   
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 0px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#dataNasc {
   
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#cpf {
    
    width: 22em;
    position: relative;
    padding: 16px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#telefone {
    
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}   


#categoria {
    position: relative;
    
    width: 22em;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#rua {
    
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;

}

#numero {
    position: relative;
   
    width: 22em;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#bairro {
    position: relative;
   
    width: 22em;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#endereco {
    
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#municipio {
    position: relative;
   
    width: 22em;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#camposParaLoginParteUm {
    position: relative;
    left: 20em;
    top: -55px;
    width: 55vw;

}

#emailCadastro {

    position: relative;
    width: 22em;
    padding: 15px;
    margin: 8px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;


}

#senhaCadastro {

    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;



}

#senhaCadastroConfirma {
    width: 22em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;
}

#btnCadastrarUsuario {
    position: relative;
    left: 27em;
    top: 10em;
    width: 20em;
    border-radius: 16px;
    color: white;
    border: 1px solid #ffffff;
    padding: 12px;
    right: -14em;
    transition: all 0.6s;
    background-color: black;

}

#btnCadastrarUsuario:hover {
    color: white;
    background-color: rgb(169, 25, 25);
    border: 1px solid rgb(0, 0, 0)
}
#informacoesPrinciapis{
    position: relative;
    top: 2em;
    display: inline-grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 10px;
    position: relative;
}
#informacoesLogin{
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(3, 4fr);
    grid-gap: 10px;
    position: relative;
}