* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundo {

    width: 100%;
    height: 100%;
    background-color:rgb(10, 11, 10)

}
#cmp {
    position: relative;
    top: 25px;
    left: 0%;
    text-align: justify;
    max-width: 80vw;
    height: 90vh;
    margin: 0 auto;
    padding: 5px;
    background-image: linear-gradient(45deg, rgb(75, 74, 74), rgb(240, 237, 237));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgb(231, 231, 231), 0em 1em 13em rgb(152, 27, 27);
}

#titulo1 {
    position: relative;
    top: 58px;
    left: 22em;
    font-size: 125%;

}

#titulo2 {
    top: 58px;
    position: relative;
    font-size: 115%;

}

#titulo3 {
    top: 117px;
    position: relative;
    font-size: 115%;

}

#linha1 {
    position: relative;
    top: 4em;
    width: 65em;

}

#linha2 {
    position: relative;
    top: 9em;
    width: 65em;

}

#nomeCadastro {
    left: 0em;
    top: 6em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 0px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#dataNasc {
    left: 2em;
    top: 6em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#cpf {
    left: 54em;
    top: 1.7em;
    width: 25em;
    position: relative;
    padding: 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#telefone {
    left: -25em;
    top: 8em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}


#categoria {
    position: relative;
    top: 3.8em;
    left: 27em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#rua {
    left: 29em;
    top: 3.8em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#numero {
    position: relative;
    left: 0em;
    top: 6em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#bairro {
    position: relative;
    left: 2em;
    top: 6em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#endereco {
    left: 54em;
    top: 2em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#municipio {
    position: relative;
    left: -25.3em;
    top: 8em;
    width: 25em;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#camposParaLoginParteUm {
    position: relative;
    left: 1em;
    top: -50px;
    width: 55vw;

}


#camposParaLoginParteUmVistoria {
    position: flex;
    padding: 40px;
    left: -3em;
    display: flex;
    width: 1000px;

}

#camposParaLoginParteDois {
    position: relative;
    left: -2em;
    display: flex;

}

#tituloDadosPessoais2 {
    bottom: 5em;
    position: relative;
    left: 50em;

}

#emailCadastro {

    position: relative;
    top: 10em;
    left: 0em;
    width: 25em;
    padding: 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;

}

#senhaCadastro {

    left: 2em;
    width: 25em;
    top: 10em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;

}

#senhaCadastroConfirma {
    left: 54em;
    width: 25em;
    top: 5.6em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    border-left: none;
    border-right: none;
    border-top: none;

}

#btnCadastrarUsuario {
    position: relative;
    left: 8em;
    top: 10em;
    width: 13em;
    border-radius: 7px;
    color: white;
    padding: 10px;
    right: -14em;
    transition: all 0.6s;
    background-color: black;

}

#btnCadastrarUsuario:hover {
    color: white;
    background-color: rgb(169, 25, 25);

}