#btnGravar{
    background-color: #8f959b; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#btnGravar:hover{
    background-color: #00cc00; 
    color: #fff;
}

#btnRegistro{
    background-color: #8f959b; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
#btnRegistro:hover{
    background-color: #1e72f0; 
    color: #fff;
}

#btnExcluir{
    background-color: #8f959b; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 20px;
}
#btnExcluir:hover{
    background-color: #dd0606; 
    color: #fff;
}

.input{ 
    border-radius: 10px;
}

#categoriaStyle{
    padding-top: 20px;
    padding-left: 10px;
}

#divListagem{
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    width: 400px;
    height: 500px;
}

.loading{
    border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .loading-container{
    position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999;
  }

  li:hover {
    color: #1e72f0;
    cursor: pointer;
}

#camposCategoria {
    width: 75%;
    border-radius: 10px;
    background-color: #fff;
    line-height: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgb(231, 231, 231), 1em 1em 1.4em rgb(190, 187, 187);
    justify-content: space-around;
}

#camposCategoria input {
    margin-bottom: 5px; 
    left: 20px;
    position: relative;
}
