#fundoCategoria {

    width: 100vw;
    height: 100vh;
    background: #35383d;

}


#btnRegistroCategoria {
    top: -7em;
    left: 14em;
    color: #fff;
    border: none;
    padding: 12px 37px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid #ff0000;
    border-radius: 7px;
    position: relative;
    border-collapse: separate;

}

#btnRegistroCategoria:hover {
    background-color: rgb(169, 25, 25);
    color: #fff;
    transition: all 0.6s;

}

#btnGravarCategoria {
    background-color: black;
    color: #fff;
    padding: 12px 53px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #ff0000;

}

#btnGravarCategoria:hover {
    background-color: #00cc00;
    color: #fff;
    transition: all 0.6s;
}


#btnExcluirCategoria {
    top: 0em;
    left: 0em;
    color: #fff;
    border: none;
    padding: 12px 53px;
    cursor: pointer;
    margin-left: 20px;
    background-color: black;
    border: 1px solid #ff0000;
    border-radius: 7px;
    border-collapse: separate;

}

#btnExcluirCategoria:hover {
    background-color: #dd0606;
    color: #fff;
    transition: all 0.6s;


}

.input {
    position: relative;
    margin-bottom: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;
}
input[type="checkbox"] {
    margin: 5px 0;
    width: 15px;
    height: 15px;

  }
 #checkboxCategoria{
top: 0;

 }


#categoriaStyle {
    padding-top: 20px;
    padding-left: 10px;
}

#divListagem {
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    width: 400px;
    height: 677px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3em;
    border: 1px solid #ff0000;

}

.loading {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

li:hover {
    color: #1e72f0;
    cursor: pointer;
}

#camposCategoria {
    width: 21%;
    height: 638px;
    line-height: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 20px;
    justify-content: space-around;
    background: #35383d;
    border: 2px solid black;
    border-radius: 10px;
    border: 1px solid #ff0000;

}

#camposCategoria input {
    position: relative;
    margin-bottom: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;
}