
#fundoManutencao {

    width: 100vw;
    height: 100vh;
    background: #35383d;

}


#btnRegistroEstoque{
    background-color: black;
    color: #fff; 
    padding: 12px 120px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 7px;
    position: relative;
    border: 1px solid #ff0000;


}
#btnRegistroEstoque:hover{
    background-color: rgb(169, 25, 25);
    color: #fff;
    transition: all 0.6s;


}
#btnGravarEstoque{
    background-color: black;
    color: #fff; 
    padding: 12px 53px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #ff0000;


}
#btnGravarEstoque:hover{
    background-color: #00cc00; 
    color: #fff;
    transition: all 0.6s;

}
#btnExcluirEstoque{
    background-color: black;
    color: #fff; 
    padding: 12px 53px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 7px;
    border: 1px solid #ff0000;


}
#btnExcluirEstoque:hover{
    background-color: #dd0606; 
    color: #fff;
    transition: all 0.6s;

}

#estoqueStyle{
    padding-top: 20px;
    padding-left: 10px;
}

#divListagem{
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    width: 400px;
    height: 677px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3em;

}

li:hover {
    color: #dd0606;
    cursor: pointer;
}

#camposEstoque {
    width: 20%;
    height: 575px;
    line-height: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 0em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    padding: 50px;
    justify-content: space-around;
    background: #35383d;
    border: 2px solid black;
    border-radius: 10px;
    border: 1px solid #ff0000;


}


#camposEstoque input {
    position:relative;
    margin-bottom: 20px; 
    left: 20px;
    padding: 5px;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;

        
}
/*
width: 22em;
position: relative;
margin: 5px 0;
*/