#fundoHome2 {

    width: 100vw;
    height: 100vh;
    background: #35383d;

}

#parteum {
    position: fixed;
    width: 29em;
    height: 24em;
    padding: 1em;
    left: 40em;
    top: 15em;
    text-align: justify;
    font-size: large;
    background: #35383d;
    box-shadow: #000;

}

#partedois {
    position: relative;
    left: 86em;
    width: 10em;
    bottom: 47vh;
}


h1 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;

}

spam {
    color: red;
}

p {
    color: #fff;
}

#logoHome2 {
    position: relative;
    left: -40em;
    display: flex;
    top: 20em;

}

.botoesHome2 {
    color: black;
    width: 25px;
    height: 10em;
    position: relative;
    padding: 9px;
    border: 1px solid #ff0000;
    border-radius: 15px;
    background: rgb(185 185 185);
}   

#redirecinarAlocacao {
    position: relative;
    border: 1px 1px 1px 1px solid black;
    top: 4em;
    background-color: black;
    color: #fff;
}

#redirecinarAlocacao:hover {
    background-color:#ff0000;
    color:white;
    transition: all 0.6s;

}

#rediriecionarVistoria {
    position: relative;
    left: 9em;
    top: 4em;
    background-color: black;
    color: #fff;
}

#rediriecionarVistoria:hover {
    background-color:#ff0000;
    color:white;
    transition: all 0.6s;

}

