
#fundoHome {

    width: 100vw;
    height: 100vh;
    background: #35383d;
}

#camposHome {
    position: relative;
    top: -28px;
    text-align: justify;
    max-width: 45vw;
    height: 85vh;
    margin: 0 auto;
    padding: 0px;
    background: #35383d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: #000;

}

#logoHome {
    width: 345px;
    position: relative;
    left: 0%;
    display: flex;

}

#elementosCampos {
    position: relative;
    left:15em;
    display: flex;
    flex-direction: column;
    
}

#carregamento {
    display: flex;
    flex-direction: column;
    width: 10em;
    position: relative;
    left: 50%;
    top: 20em;

}

#emailHome {
    color: rgb(0, 0, 0);
    display: block;
    top: -5em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 7px;
    background: rgb(185 185 185);

}

#senhaHome {
    color: rgb(0, 0, 0);
    display: block;
    top: -4em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 7px;
    background: rgb(185 185 185);

}

#btnEntrar {
    top: -3em;
    color: white;
    padding: 15px;
    border: 1px solid #ffffff;
    background-color: black;
    position: relative;
    width: 27em;
    transition: all 0.6s;
    border-radius: 16px;

}

#naoTemCadastro {
    position: relative;
    top: -2.5em;
    left: 6em;
    color: white;
    font-style: inherit;

}

#link {
    position: relative;
    top: -3em;
    left: 6em;
    color: #007bff;
    font: normal 20px/1.6 system-ui, sans-serif;

}

#btnEntrar:hover {
    color: white;
    background-color: rgb(169, 25, 25);
    border: 1px solid rgb(0, 0, 0)

}

#todosOsDireitos {
    position: relative;
    top: -2em;
    left: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font: normal 13px/1.6 system-ui, sans-serif;

}