* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

#fundo {

    width: 100%;
    height: 100%;
    background: dodgerblue linear-gradient(179deg, #242424, #a28888, #63191f) fixed;
}

#camposHome {
    position: relative;
    top: 35px;
    left: 0%;
    text-align: justify;
    max-width: 45vw;
    height: 85vh;
    margin: 0 auto;
    padding: 0px;
    background-image: linear-gradient(45deg, rgb(54, 49, 49), rgb(240, 237, 237));
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgb(231, 231, 231), 0em 1em 13em rgb(152, 27, 27);

}

#logoHome {
    width: 320px;
    position: relative;
    left: 0%;
    display: flex;

}

#elementosCampos {
    position: relative;
    left: 27%;
    display: flex;
    flex-direction: column;
    top: -78px;
}

#carregamento {
    display: flex;
    flex-direction: column;
    width: 10em;
    position: relative;
    left: 50%;
    top: 20em;


}

#emailHome {
    color: rgb(237, 30, 30);
    display: block;
    top: -5em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #c91414;
    border-radius: 7px;
    background: #ccc;

}

#senhaHome {
    color: rgb(237, 30, 30);
    display: block;
    top: -4em;
    width: 25em;
    position: relative;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #cf1a1a;
    border-radius: 7px;
    background-color: #ccc;


}

#btnEntrar {
    top: -3em;
    color: white;
    padding: 15px;
    border: 1px solid #d72727;
    background-color: black;
    position: relative;
    width: 25em;
    transition: all 0.6s;
    border-radius: 16px;


}

#naoTemCadastro {
    position: relative;
    top: -0.5em;
    left: 6em;
    color: black;
    font-style: inherit;


}

#link {
    position: relative;
    top: -0.5em;
    left: 6em;
    color: #007bff;
    font: normal 20px/1.6 system-ui, sans-serif;


}

#btnEntrar:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(169, 25, 25);
    border: 1px solid white


}

#todosOsDireitos {
    position: relative;
    top: 3em;
    left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font: normal 13px/1.6 system-ui, sans-serif;

}