#parteum{
 position: relative;
 width: 47em;
 left: 5em;
 text-align: justify;
 padding: 10em;
 top: 5em;
 font-size: large;
 border-radius: 30px;
 box-shadow: 1px 1px 1px 1px rgb(231, 231, 231), 1em 1em 1.4em 1em rgb(190, 187, 187);
}
#partedois{
    position: relative;
    left: 70em;
    width: 10em;
    bottom: 47vh;
}
spam{
    color: red;
}


#logoHome2 {
    width: 361px;
    position: relative;
    left: -100%;
    display: flex;

}
.botoesHome2{
    color: black;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-top-color: #000;
    padding: 1em;
    border-radius:5px;
}
#redirecinarAlocacao{
    position: relative;
    border: 1px 1px 1px 1px solid black;
    top:4em;
    background-color: black;
    color: #fff;
}
#redirecinarAlocacao:hover{
    background-color: transparent;
    color: #000;
}

#rediriecionarVistoria{
    position: relative;
    left: 2em;
    top:4em;
    background-color: black;
    color: #fff;
}
#rediriecionarVistoria:hover{
    background-color: transparent;
    color: #000;
}