#fundoLocacao {
    background: #35383d;
}

#divLocacoes{
    
        /* float: left; */
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        line-height: 2em;
        width: 22%;
        top: 2em;
        position: relative;
        padding: 50px;
        left: 39%;
        padding: 24px;
        color: #fff;
        border: 1px solid #ff0000;
        background: #35383d;
    
}

#campos{

        /* width: 75%; */
        line-height: 2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #fff;
        position: relative;
        /* left: 14%; */
        top: 3em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* max-width: 80vw; */
        padding: 5px;
        background: #35383d;
        /* border-radius: 5px; */
    


}
#localRetirada{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    height: 3em;
    border-radius: 5px;
    top: 0em;
    
} 
#categoriaRetirada{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;

}
#modeloRetirada{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;

}
#horaRetirada{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 5px;
    height: 3em;


    
} 
#horaEntrega{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;
    height: 3em;


}
#valorCategoria{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;
    height: 3em;


} 
#custosAd{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;
    height: 3em;


} 
#dataRetirada{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;
    height: 3em;


} 
#dataEntrega{
    position: relative;
    background-color: #696969;
    color: #fff;
    width: 35%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
    border-radius: 5px;
    height: 3em;

} 

#btnReservar{
    position: relative;
    top: 5em;
    left: -22em;
    color:white;
    border-radius: 2em;
    background: black;
    border: 1px solid #ff0000;

}
#btnReservar:hover{
    color:white;
    background-color: rgb(196, 0, 0);
    transition: all 0.6s;

}

#calc{
    position: relative;
    top: 0em;
    left: 0em;
    color:white;
    padding: none;
    border-radius: 2em;
    background: black;
    border: 1px solid #ff0000;
}
#calc:hover{
    color:white;
    background-color: rgb(196, 0, 0);
    transition: all 0.6s;

}
#vlTotal{
    position: relative;
    top: 2em;


}
#labDtEntrega{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labDtRetirada{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labHrRetirada{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labHrEntrega{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labValor{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labCustos{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#titulo{
    position: relative;
    left: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btnRegistro{
    position: relative;
    top: 0em;
    color:#fff;
    border-radius: 2em;
    background-color: black;
    border: 1px solid #ff0000;
        
}
#btnRegistro:hover{
    color:black;
    background-color: rgb(196, 0, 0);
}
#btnExcluir{
    position: relative;
    top: 0em;
    color:#fff;
    border-radius: 2em;
    background-color: #696969;
    
}
#btnExcluir:hover{
    color:black;
    background-color: rgb(196, 0, 0);
    transition: all 0.6s;

}
