
#tela{
    border-radius: 2%;
}

#campos{
    width: 30%;
    position: relative;
    left: 10%;
    top: 5em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    max-width: 50vw;
    padding: 22px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(231, 231, 231), 1em 1em 1.4em rgb(190, 187, 187);
}
#localRetirada{
    position: relative;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 
#categoriaRetirada{
    position: relative;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#modeloRetirada{
    position: relative;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#horaRetirada{
    position: relative;
    width: 21.5%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 
#horaEntrega{
    position: relative;
    width: 21.5%;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#valorCategoria{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 
#custosAd{
    position: relative;
    left: 0em;
    height: 3em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 
#dataRetirada{
    position: relative;
    left: 0em;
    width: 70%;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 
#dataEntrega{
    position: relative;
    left: 0em;
    width: 70%;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
} 

#btnReservar{
    position: relative;
    left: 0em;
    top: 0em;
    color:white;
    border-radius: 2em;
    background-color: black;
}
#btnReservar:hover{
    color:black;
    background-color: white;
}

#calc{
    position: relative;
    left: 0em;
    top: 0em;
    color:white;
    padding: none;
    border-radius: 2em;
    background-color: black;
}
#calc:hover{
    color:black;
    background-color: white;
}
#vlTotal{
    position: relative;
    top: 0em;
    left: 0em;
}
#labDtEntrega{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labDtRetirada{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labHrRetirada{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labHrEntrega{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labValor{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}
#labCustos{
    position: relative;
    left: 0em;
    border-left: none;
    border-right: none;
    border-top: none;
    top: 0em;
}


