#fundoLocalizacao {
    height: 100vh;
    background: #35383d;

}

#textoLocalizacao1 {
    position: relative;
    top: 20px;
    left: 25em;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#locacao{

    width: 22em;
    top: 35px;
    left: 45em;
    position: relative;
    padding: 15px;
    margin: 0px 0;
    border-radius: 7px;
    background: #ccc;
    border: 1px solid #000000;
}



#textoLocalizacao2 {
    position: relative;
    left: 43em;
    top: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

}

#localizacaoStyle {
    padding-top: 20px;
    padding-left: 10px;
}

#textMap {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

#divMap {
    width: 75%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#listagem {
    display: flex;
}

#localizacaoStyle p {
    padding-top: 20px;
    padding-left: 10px;
}