/* Estilização do contêiner da tela de manutenção */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilização dos campos de entrada */
/*input[type="number"],
  input[type="date"],
  input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }/*
  


/* Estilização do título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tituloManutencao1 {
  color: #fff;
  font-size: 30px;
  left: 15%;
}

.tituloManutencao2 {
  color: #fff;
  font-size: 20px;

}

.tituloManutencao3 {
  color: #fff;
  font-size: 20px;
}

#cmpManutencao {
  position: relative;
  top: 0px;
  left: 0%;
  text-align: justify;
  margin: 22px auto;
  background: #35383d;
  width: 60%;

}

/* Estilização do botão de salvar */

#btnVoltarManutencao {
  position: relative;
  left: 5%;
  top: -20px;
  width: 20%;
  padding: 12px;
  color: white;
  border-radius: 7em;
  background-color: black;
  border: 1px solid #ff0000
}

#btnVoltarManutencao:hover {
  color: white;
  background-color: rgb(169, 25, 25);
  border: 1px solid rgb(0, 0, 0)
}

#btnCadastrarManutencao {
  position: relative;
  left: 65%;
  top: 40px;
  width: 20%;
  padding: 12px;
  color: white;
  border-radius: 7em;
  background-color: black;
  border: 1px solid #ff0000
}

#btnCadastrarManutencao:hover {
  color: white;
  background-color: rgb(169, 25, 25);
  border: 1px solid rgb(0, 0, 0)
}


.campos {
  padding: 1em;
  position: relative;
  left: 0em;

}

.inputs {
  width: 15%;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}