/* Estilização do contêiner da tela de manutenção */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilização dos campos de entrada */
  /*input[type="number"],
  input[type="date"],
  input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }/*
  
  /* Estilização dos campos de checkbox */
  input[type="checkbox"] {
    margin: 5px 0;
  }
  
  /* Estilização do botão de salvar */
  button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilização do título */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #cmpManutencao {
    position: relative;
    top: -5px;
    left: 0%;
    text-align: justify;
    /* height: 93vh; */
    margin: 22px auto;
    padding: 5px;
    background: #35383d;
    border-radius: 20px;
}

#btnVoltarManutencao{
  position: relative;
    left: 5%;
    top: 0px;
    width: 25%;
    padding: 9px;
    color: white;
    border-radius: 2em;
    background-color: black;
    border: 1px solid #ff0000
}
#btnCadastrarManutencao{
  position: relative;
  left: 70%;
  top: 56px;
    width: 25%;
    padding: 9px;
    color: white;
    border-radius: 2em;
    background-color: black;
    border: 1px solid #ff0000
 
}
.campos{
  padding: 1em;
  position: relative;
    left: 0em;

}
.inputs{
  width: 15%;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}