#fundoVistoria {

  width: 100vw;
  height: 100vh;
  background: #35383d;

}

#tituloVistoria1 {
  position: relative;
  top: -28px;
  left: 9em;
  font-size: 125%;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}

#tituloVistoria2 {
  top: 0em;
  position: relative;
  font-size: 115%;
  color: white;

}

#tituloVistoria3 {
  top: 0px;
  position: relative;
  font-size: 115%;
  color: white;

}

#linhaVistoria1 {
  position: relative;
  top: -1em;
  width: 68em;

}

#linhaVistoria2 {
  position: relative;
  top: -1em;
  width: 68em;

}


#camposVistoria {
  position: relative;
  top: 30px;
  left: 0%;
  max-width: 80vw;
  height: 70vh;
  margin: 0 auto;
  padding: 5px;
  background: #35383d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/*
#camposParaLoginParteUmVistoria {
  position: relative;
  top: 80px;
}
*/



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  background-color: #282c34;
  padding: 30px 0;
  color: white;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

main aside {
  background-color: #e4e4e4;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
}

main aside h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

main aside p {
  line-height: 1.6;
}

main .content {
  width: 70%;
  padding: 20px;
  box-sizing: border-box;
}

main .content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

main .content p {
  line-height: 1.6;
}

footer {
  background-color: #282c34;
  padding: 20px 0;
  text-align: center;
  color: white;
}

footer p {
  margin: 0;
}

#btnCadastrarVistoria {
  position: relative;
  top: -3em;
  left: 60em;
  width: 15%;
  border-radius: 2em;
  background-color: black;
  border: 1px solid #ff0000;

}

#btnCadastrarVistoria:hover {
  background-color: #ff0000;
  color: white;
  transition: all 0.6s;
}

#btnVoltarVistoria {
  position: relative;
  left: 24%;
  top: -5.6em;
  width: 15%;
  border-radius: 2em;
  background-color: black;
  border: 1px solid #ff0000;

}

#btnVoltarVistoria:hover {
  background-color: #ff0000;
  color: white;
  transition: all 0.6s;
}


#veiculo {
  left: 24%;
  width: 15%;
  bottom: 1em;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}

#date {
  width: 15%;
  bottom: 1em;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}

#tipo {
  width: 15%;
  padding: 5px;
  border-bottom: none;
  position: relative;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}

#descricao {
  border-bottom: none;
  bottom: 1em;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}

#observacoes {
  border-bottom: none;
  bottom: 1em;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}

#manut {
  border-bottom: none;
  bottom: 1em;
  padding: 5px;
  border-radius: 7px;
  background: #ccc;
  border: 1px solid #000000;
}




/*PARTE DO CSS DA TELA DE VISTORIA 2*/

#fundoVistoria2 {

  width: 100vw;
  height: 210vh;
  background: #35383d;

}

#camposVistoria2 {
  position: relative;
  top: 30px;
  left: 0%;
  text-align: justify;
  max-width: 97vw;
  height: 183vh;
  margin: 0 auto;
  padding: 5px;
  background: #35383d;
  display: flex;
  flex-direction: column;
}

#tituloTela2 {
  position: relative;
  top: -41px;
  left: 18em;
  width: 37%;
  font-size: 163%;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;

}

#inputPesquisaVistoria2 {
  width: 30%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: rgb(185 185 185);

}

#btnBuscarVistoria2 {
  width: 14%;
  padding: 9px;
  color: white;
  border-radius: 2em;
  background-color: black;
  border: 1px solid #ff0000;
  cursor: pointer;


}

#btnBuscarVistoria2:hover {
  background-color: #ff0000;
  color: white;
  transition: all 0.6s;
  border-color: #ff0000
}

#btnVoltarVistoria2 {
  position: relative;
  left: 3%;
  width: 14%;
  padding: 9px;
  border-radius: 2em;
  background-color: black;
  border: 1px solid #ff0000;
  cursor: pointer;

}

#btnVoltarVistoria2:hover {
  background-color: #ff0000;
  color: white;
  transition: all 0.6s;
  border-color: #ff0000

}

#btnEditarVistoriaTela2 {
  position: relative;
  background-color: #000000;
  clip-path: padding-box;
  color: #fff;
  padding: 10px 35px;
  border-radius: 7px;
  cursor: pointer;




}

#btnEditarVistoriaTela2:hover {
  background-color: #23c240;
  color: white;
  transition: all 0.6s;

}

#btnExcluirVistoriaTela2 {
  background-color: #000000;
  clip-path: padding-box;
  color: #fff;
  padding: 10px 35px;
  border-radius: 7px;
  cursor: pointer;



}

#btnExcluirVistoriaTela2:hover {
  background-color: #ff0000;
  color: white;
  transition: all 0.6s;
}

.tabelaVistoria2,
th,
td {
  background-color: rgb(185 185 185);
  border-collapse: separate;
  /*define a separação entre as bordar*/
  text-align: center;


}

th {
  background-color: lightgray;
  padding: 0px 10px;

}

.tableBtn {
  display: flex;
  border: none;

}