.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#campos {
  display: flex;
  flex-direction: column;
  width: 10em;
  position: relative;
  left: 45%;
  top: 10em;

}
#carregamento {
  display: flex;
  flex-direction: column;
  width: 10em;
  position: relative;
  left: 50%;
  top: 20em;

}
#email{
  top: 1em;
}
#senha{

  top: 2em;
}
#campos > button{
  position: relative;
  top: 3em;
  
}
#campos > input{
  position: relative;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#link{
  position: relative;
  top: 3em;
  left: 6em;
}
.camposLogin{
  width: 20em;
}
#btnEntrar{
  color:white;
  padding: 2px;
  border-radius: 2em;
  background-color: black
}
#btnEntrar:hover{
  color:black;
  background-color: white;
}